@model WebApplication2.Models.Measred

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Measred</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time_of_measurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_of_measurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual_current__A_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual_current__A_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual_revs___rpm_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual_revs___rpm_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual_pressure__bar_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual_pressure__bar_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListMotor.Motor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListMotor.Motor_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
